[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
python-dotenv = "*"
django-extensions = "*"
pillow = "*"
django-cors-headers = "*"
markdown = "*"
django-filter = "*"
django-userforeignkey = "*"
pymysql = "*"
pyyaml = "*"
uritemplate = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
python-decouple = "*"
django-allauth = "*"
google-api-python-client = "*"
facebook-sdk = "*"
python-twitter = "*"
django-mptt = "*"

[dev-packages]
yapf = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
